body {
	width: 95%;
	height: 100%;
	background: black;
}

li {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	color: white;
}

.getWeather {
	width: 80px;
	height: 80px;
	background: none;
	color: white;
	border-radius: 80px;
	border: 3px solid white;
	font: helvetica, sans-serif;
	font-size: 16px;
	margin: 9px auto;
	padding: 10px 0px;
	line-height: 15px;
	position: relative;
}


.getWeather:hover {
	background: rgba(250, 250, 250, .2);
	color: white;
}

.getWeather:focus {
	background: none;
}

.getWeather:visited,
.getWeather:active {
	color: white;
	border: none;
}

.city,
.temp,
.sunrise,
.high,
.low,
.sunset,
.currently {
	font: helvetica, sans-serif;
}

.currently {
	font-size: 14px;
}

.city {
	font-size: 20px;
	margin: 0px 0 30px 0;
}

.temp {
	font-size: 80px;
	margin: 0;
}

.sunrise,
.high,
.low,
.sunset {
	font-size: 15px;
	height: 100px;
}

.sunrise,
.high,
.low {
	border-right: 1px solid white;
}

.high,
.low {
	font-size: 20px;
	padding: 0;
}

ul {
	text-align: center;
	padding: 0;
	margin-top: 20px;
}


#getWeather {
	text-align: center;
	width: 97%;
	margin: 0 auto;
}

.buttonparent {
	position: relative;
	text-align: center;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  margin: 0;
  padding: 0;
}

.box {
  display: inline-block;
  margin: 0 4% 0 0;
  height: 20px;
  width: 6%;
  border:  2px solid white;
  border-top-style: none;
  border-radius: 0px 0px 20px 20px;
}

.box:hover {
	-webkit-transform:translate(0px,-3px);
}

.boxwrap {
	width: 100%;
	margin: 0 10% 10px 10%;
}

.black {
  background: black;
}

.blue {
  background: rgba(7, 205, 250, 1);
}

.red {
  background: rgba(255, 19, 36, 1);
}

.green{
  background: rgba(0, 200, 100, 1);
}

.yellow{
  background: rgba(255, 196, 0, 1);
}

.purple{
  background: rgba(124, 0, 210, 1);
}

.orange{
  background: rgba(255, 83, 13, 1);
}

.pink{
  background: rgba(255, 54, 97, 1);
}


.smallicon {
	font-size: 60px;
}

h2 {
	height: 60px;
}

h5 {
	font-family: helvetica, sans-serif;
	color: white;
	font-size: 9px;
	text-align: center;
	margin: 5px 20% 0 5px;
	letter-spacing: 2px;
}

.icontext {
	color: white;
	font-size: 50px;
}





