body {
	width: 100%;
	height: 100%;
	background: black;
}

li {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
	color: rgba(7, 205, 250, 1);
}

.getGeolocation {
	width: 150px;
	background: white;
	color: black;
	border-radius: 3px;
	font: helvetica, sans-serif;
	font-size: 11px;
	margin: 10px 5px 30px 200px;
}

.getGeolocation:hover {
	background: white;
	color: rgba(7, 205, 250, 1);
}

.getGeolocation:focus {
	border: none;
	background: white;
	color: black;
}