body {
	width: 100%;
	height: 100%;
	background: black;
}

li {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
	color: rgba(7, 205, 250, 1);
}

.getGeolocation {
	width: 80px;
	height: 80px;
	background: white;
	color: rgba(7, 205, 250, 1);
	border-radius: 80px;
	border: 5px solid rgba(7, 205, 250, 1);
	font: helvetica, sans-serif;
	font-size: 16px;
	margin: 10px 0 0 40%;
	padding: 10px 0px;
	line-height: 15px;
}

.getGeolocation:hover {
	background: white;
	color: rgba(7, 205, 250, .5);
}

.getGeolocation:focus {
	background: white;
	border: 5px solid rgba(7, 205, 250, 1);
}

.city,
.temp,
.currently,
.sunrise,
.high,
.low,
.sunset {
	color: white;
	font: helvetica, sans-serif;
}

.city,
.currently {
	font-size: 14px;
}

.temp {
	font-size: 60px;
}

.sunrise,
.high,
.low,
.sunset {
	font-size: 20px;
}














